@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&family=Montserrat+Alternates:wght@200;300;400;500;600&family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');



:root {
    --cor01: #131200;
    --cor02: #D95204;
    --cor03: #F2B544;
    --cor04: #F28907;
    --cor05: #FFFBFE;
    --cor06: #F0EFF4;
    --cor07: #E3C0D3;
    --cor08: rgba(0, 0, 0, 0.5);


    --fontelogo: 'Gaegu', cursive;
    --fontetexto: 'Montserrat', sans-serif;
    --fontetextalt: 'Montserrat Alternates', sans-serif;
}

/* Estilos gerais para todas as telas */
body {
    margin: 0;
    padding: 0;
    font-family: var(--fontetexto);
    line-height: 1.6;
    background-color: var(--cor03);
    color: var(--cor01);
}

a {
    font-family: var(--fontetextalt);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--cor03);
    padding: 10px;
    background-color: var(--cor04);
}

.logo img {
    max-width: 200px;
    height: auto;
}

.redes-sociais {
    display: flex;
    align-items: center;
    gap: 20px;    /* adiciona espaço entre os ícones */
}

.redes-sociais a {
    margin-right: 20px;
    font-size: 25px;
    color: var(--cor01);
}

.menu {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    background-color: var(--cor05);
    box-shadow: 0 4px 4px 0 var(--cor08);
}

.menu:hover {
    background-color: var(--cor04);
}

.menu a {
    color: var(--cor01);
}

.menu ul {
    list-style: none;
    padding: 0;
    margin-left: 25px;
}

.menu li {
    display: inline;
    padding: 10px;
    color: var(--cor01);
}

.menu li:hover {
    font-weight: bold;
}

.menu-icon {
    display: inline;
    margin: 10px 25px 10px 25px;
    font-size: 25px;
    color: var(--cor01);
    cursor: pointer;
}

#menu-lista {
    background-color: var(--cor05);
    list-style: none;
    position: absolute;
    text-align: left;
    margin: 0;       
    right: 0;
    top: 100%;        
    box-shadow: 0 4px 4px 0 var(--cor08);  
}

#menu-lista li {
    padding: 25px 50px 25px 50px; 
    display: block;    
}

#menu-lista li:hover {
    background-color: var(--cor04);
}

.menuEscondido {
    display: none;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s, max-height 0.3s;
}

.menuVisivel { /* adiciona a classe "menu visivel" */
    opacity: 1;
    max-height: 500px;
}

.menu-social {
    display: none;
}

section {
    width: 100%;    
}

.apresentacao {    
    height: auto;
}

.apresentacao picture img {
    width: 100%;
    height: auto;
}

#sobre-nos {    
    height: 510px;
    background-color: var(--cor03);
    box-shadow: 0 4px 4px 0 var(--cor01);
}

#sobre-nos h1 {
    margin: 0;
    padding: 15px 25px 0px 25px;
    text-align: justify;
    font-family: var(--fontetextalt);
}

#sobre-nos p {
    text-align: justify;
    padding: 10px 25px 25px 25px;
}

#container {
    height: 510px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--cor04);
}

.dupla {
    display: block;
    width: 700px;
    height: 450px;
    border-radius: 30px;
    background-color: var(--cor02);
    box-shadow: 0 4px 4px 0 var(--cor08);
}

.dupla h2 {
    font-size: 50px;
    font-family: var(--fontetextalt);
    text-align: center;
    color: var(--cor05);
    margin: 10px;
}

.dupla p {
    text-align: center;
    color: var(--cor05);
    padding: 10px 25px 10px 25px;
}

.dupla a {
    font-size: large;
    text-align: center;
    display: block;
    padding: 10px;
    margin: 55px 200px 0px 200px;
    background-color: var(--cor03);
    color: var(--cor01);
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 var(--cor08);
    transition: transform 0.3s;
}

.dupla a:hover {
    font-weight: bold;
    transform: scale(1.2);
}

#adote {
    margin: 0 10px 0 20px;
}

#apadrinhe {
    margin: 0 20px 0 10px;
}

#carousel-slide {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 510px;
    background-color: var(--cor05);
}

.slide {
    min-width: 100%;
}

.slide img {
    width: 100%;
    height: auto;
}

.indicador-slide {
    text-align: center;
    background-color: var(--cor05);
    box-shadow: 0 4px 4px 0 var(--cor08);
}

.indicador {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--cor04);
    margin: 0 5px;
    cursor: pointer;
}

#contato {
    background-color: var(--cor02);
    color: var(--cor05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
}

.info, .conecte, .mensagem {
    display: block;
    border-radius: 30px;
    padding: 10px 25px 10px 25px;
    text-align: left;
    height: 240px;
    line-height: 2;

}

.info, .conecte {
    width: 250px;

}

.conecte ul {
    margin: 0;
    padding: 0;
}

.conecte li {
    list-style: none;
}

.conecte a {
    color: var(--cor05);
}

.mensagem {
    width: 700px;
}

.mensagem input, .mensagem textarea {
    border: 0;
    border-bottom: 2px solid var(--cor05);
    background-color: var(--cor02);
    margin-left: 5px;
    margin-right: 5px;
    resize: none;
    line-height: 2;

}

.mensagem input {
    width: 216px;
}

.mensagem textarea {
    width: 685px;
    height: 75px;
}

::placeholder {
    color: var(--cor05);
    font-family: var(--fontetexto);
}

.mensagem button {
    border: 1px;
    padding: 5px 25px;
    margin: 5px;
    background-color: var(--cor05);
    color: var(--cor02);
    font-weight: bold;
}

.voltar-topo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    transition: opacity 0.3s;
}

/* adiciona a classe "oculto" e quando estiver ativa mostrará o item oculto */
.voltar-topo.oculto {
    opacity: 1;
}

.voltar-topo a {
    color: var(--cor01);
    font-size: 2em;
}

footer {
    background-color: var(--cor01);
    color: var(--cor02);
}

footer p {
    margin: 0;
    text-align: center;
    font-size: small;
}

footer a {
    color: var(--cor04);
}

/* Dispositivos pequenos (como iPhones 5, 6, 7, 8) */
@media (max-width: 600px){
    header {
        background-color: var(--cor04);
        flex-direction: column;        /* Altera a direção do layout para coluna em telas menores */
    }

    .logo {
        text-align: center;        
    }

    .logo img {
        max-width: 100%;
        max-height: auto;
        align-items: center;
    }

    .redes-sociais {
        display: none;     
    }    

    .menu:hover {
        background-color: var(--cor05);
    }

    .menu ul {
        display: none;
        position: absolute;        
        background-color: var(--cor03);        
        box-shadow: 0 4px 4px 0 var(--cor08);       
    }

    .menu-icon {
        display: block;
        margin: 20px;
        font-size: 45px;
    }

   #menu-lista {        
        left: 0;        
        font-size: 25px;        
        text-align: left;
        border-radius: 0;
    }

    #menu-lista li {         
        display: block;
        padding: 10px 25px 15px 25px;
    }

    .menuEscondido {
        display: none;
        opacity: 0;
        max-height: auto;
        overflow: hidden;
        transition: opacity 0.3s, max-height 0.3s;
    }

    .menuVisivel {
        opacity: 1;
        max-height: 490px;
    }

    .menu-social {
        display: flex;
        align-items: center;
        gap: 20px;    /* adiciona espaço entre os ícones */
    }
    
    .menu-social a {
        margin-right: 20px;
        font-size: 25px;
        color: var(--cor01);
    }

    .apresentacao {
        height: 403px;
    }

    .apresentacao picture img {
        width: 100%;
        height: 403px;
    }

    #sobre-nos {
        height: auto;
    }

    #sobre-nos h1 {
        padding: 15px 25px 0px 25px;
        text-align: justify;
        font-family: var(--fontetextalt);
    }

    #sobre-nos p {
        margin: 0;
        text-align: justify;
        padding: 10px 25px 10px 25px;
    }

    #container {
        flex-wrap: wrap;
        height: auto;
    }

    .dupla {
        width: calc(100% - 20px);         /* Ajusta a largura para ocupar metade do espaço disponível, com espaço de 20px entre elas */
        height: auto;
        margin: 10px;
    }

    .dupla h2 {
        font-size: 30px;
        margin: 10px;
    }

    .dupla p {
        text-align: center;
        color: var(--cor05);
        padding: 10px 25px 10px 25px;
    }

    .dupla a {
        font-size: large;
        text-align: center;
        display: inline-block;
        padding: 10px 20px;
        margin: 0 20px 20px 20px;
        max-width: 100%;        
    }    

    #adote, #apadrinhe {
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #carousel-slide {
        display: flex;
        overflow: hidden;
        width: 100%;
        height: auto;
    }

    .slide {
        min-width: 100%;
    }

    .slide img {
        width: 100%;
        height: auto;
    }

    .indicador-slide {
        text-align: center;
        background-color: var(--cor05);
        box-shadow: 0 4px 4px 0 var(--cor08);
    }

    .indicador {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--cor04);
        margin: 0 5px;
        cursor: pointer;
    }

    #contato {
        background-color: var(--cor02);
        color: var(--cor05);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .info, .conecte, .mensagem {
        display: block;
        text-align: left;
        height: auto;
        line-height: 2;
        margin: 10px 0;
        width: 80%;
    }

    .conecte li {
        list-style: none;
        padding: 10px 0 10px 0;
    }

    .conecte a {
        color: var(--cor05);
    }

    .mensagem {
        margin-bottom: 35px;
    }

    .mensagem input {
        width: 100%;
        height: 30px;
        margin-bottom: 3px;
    }

    .mensagem textarea {
        width: 100%;
        height: 200px;
    }

    ::placeholder {
        color: var(--cor05);
        font-family: var(--fontetexto);
    }

    .voltar-topo {
        position: fixed;
        bottom: 35px;
        right: 20px;
        opacity: 0;
        transition: opacity 0.3s;
    }

    /* adiciona a classe "oculto" e quando estiver ativa mostrará o item oculto */
    .voltar-topo.oculto {
        opacity: 1;
    }

    .voltar-topo a {
        color: var(--cor01);
        font-size: 2em;
    }

    footer p {
        font-size: x-small;        
    }
}

@media (min-width: 601px) and (max-width: 992px) {
    .apresentacao {
        height: auto;
    }
    .apresentacao picture img {
        height: auto;
    }

    #sobre-nos {
        height: auto;
    }

    #container {
        flex-wrap: wrap;
        height: auto;
    }

    .dupla {
        width: calc(100% - 20px);         /* Ajusta a largura para ocupar metade do espaço disponível, com espaço de 20px entre elas */
        height: auto;
        margin: 10px;
    }

    .dupla h2 {
        font-size: 30px;
        margin: 10px;
    }

    .dupla p {
        text-align: center;
        color: var(--cor05);
        padding: 10px 25px 10px 25px;
    }

    .dupla a {
        font-size: large;
        text-align: center;
        display: inline-block;
        padding: 10px 20px;
        margin: 0 20px 20px 20px;
        max-width: 100%;        
    }    

    #adote, #apadrinhe {
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .indicador-slide {
        text-align: center;
        background-color: var(--cor05);
        box-shadow: 0 4px 4px 0 var(--cor08);
    }

    .indicador {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--cor04);
        margin: 0 5px;
        cursor: pointer;
    }

    #contato {
        background-color: var(--cor02);
        color: var(--cor05);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .info, .conecte, .mensagem {
        display: block;
        text-align: left;
        height: auto;
        line-height: 2;
        margin: 10px 0;
        width: 80%;
    }

    .conecte li {
        list-style: none;
        padding: 10px 0 10px 0;
    }

    .conecte a {
        color: var(--cor05);
    }

    .mensagem {
        margin-bottom: 35px;
    }

    .mensagem input {
        width: 100%;
        height: 30px;
        margin-bottom: 3px;
    }

    .mensagem textarea {
        width: 100%;
        height: 200px;
    }

    ::placeholder {
        color: var(--cor05);
        font-family: var(--fontetexto);
    }

    .voltar-topo {
        position: fixed;
        bottom: 35px;
        right: 20px;
        opacity: 0;
        transition: opacity 0.3s;
    }

    /* adiciona a classe "oculto" e quando estiver ativa mostrará o item oculto */
    .voltar-topo.oculto {
        opacity: 1;
    }

    .voltar-topo a {
        color: var(--cor01);
        font-size: 2em;
    }    
  }
